python-multipart
python-dotenv
fastapi
uvicorn
PyPDF2
pymupdf
pdf2image
pytesseract
Pillow
slowapi
langchain>=0.2.0
langchain-community
langchain-core
langchain-google-genai
google-generativeai
faiss-cpu
